/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background-size: 400% 400%;
  animation: gradientBackground 13s ease infinite;
  color: #0ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
  margin-top: 60px; /* Añadir margen superior para evitar superposición con el navbar */
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
}

.title-image {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
  margin-top: 50px; /* Añadir margen superior para separar del navbar */
}

.title-image img {
  width: 100%;
  max-width: 100%;
  filter: drop-shadow(0 0 20px #0ff);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-50px); }
  to { transform: translateY(0); }
}

.animated-container {
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

.music-toggle-btn {
  background-color: #0ff;
  color: #141414;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.music-toggle-btn:hover {
  background-color: #00d4d4;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 40px;
  gap: 20px;
}

.form-container {
  background: rgba(31, 31, 31, 0.9);
  padding: 10px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 7px solid transparent;
  background-clip: padding-box;
}

.form-label {
  font-weight: bold;
  font-size: 1.2em;
  color: #0ff;
}

.form-control, .form-select {
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #0ff;
}

.form-control::placeholder, .form-select::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #141414; /* Fondo oscuro para la aplicación */
}

.footer {
  width: 100%;
  background-color: #141414;
  color: #00f5ff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 245, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
}

.footer-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 1em;
}

.github-link {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #0ff;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.github-link:hover {
  color: #00d4d4;
}

@media (min-width: 600px) {
  .form-section {
    flex-direction: row;
  }

  .form-container {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .form-section {
    justify-content: space-between;
  }

  .character-list {
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 40px;
  }

  .form-section {
    max-width: 1200px;
  }

  .character-list {
    gap: 40px;
  }
}
