/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./fondo.png') no-repeat center center fixed;
  background-size: cover;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.title-image {
  width: 100%;
  max-width: 900px; /* Ajusta el tamaño según sea necesario */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

.title-image img {
  width: 100%;
  max-width: 100%;
}

/* Añadir animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-50px); }
  to { transform: translateY(0); }
}

/* Aplicar las mismas animaciones a los contenedores de formulario */
.animated-container {
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

.music-toggle-btn {
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.music-toggle-btn:hover {
  background-color: #f50057;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 40px;
  gap: 20px;
}

.form-container {
  background: rgba(44, 62, 80, 0.9);
  padding: 10px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 7px solid transparent;
  background-clip: padding-box;
}

/* Negritas para los labels */
.form-label {
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
}

.form-control, .form-select {
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}

.form-control::placeholder, .form-select::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Estilos para las tarjetas de personajes */
.character-card {
  background: #2c3e50;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.character-card:hover {
  transform: scale(1.2);
  z-index: 10; /* Asegura que la tarjeta esté por encima de otras tarjetas al hacer hover */
}

/* Estilos para la lista de personajes */
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Media Queries */
@media (min-width: 600px) {
  .form-section {
    flex-direction: row;
  }

  .form-container {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .form-section {
    justify-content: space-between;
  }

  .character-list {
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 40px;
  }

  .form-section {
    max-width: 1200px;
  }

  .character-list {
    gap: 40px;
  }
}
