.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.counter {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
}
/* App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('https://media.istockphoto.com/id/1162692500/es/foto/carretera-urbana.jpg?s=2048x2048&w=is&k=20&c=up-dlE_JqMqPXk_KGHKZWLSpbLb-sAVhQN6xUADAXjk=') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.counter {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.person-list {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.person-list h3 {
  margin-bottom: 10px;
}

.person-list ul {
  list-style-type: none;
  padding: 0;
}

.person-list li {
  margin-bottom: 10px;
}
