/* CharacterCard.css */
.character-card {
  border: 1px solid #00f5ff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 250px;
  background: linear-gradient(145deg, #0e0e0e, #2a2a2a);
  color: #00f5ff;
  box-shadow: 0 10px 20px rgba(0, 245, 255, 0.5), 0 6px 6px rgba(0, 245, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 245, 255, 0.6), 0 10px 10px rgba(0, 245, 255, 0.4);
}

.character-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.character-card h3 {
  margin: 10px 0;
  color: #00f5ff;
}

.character-card p {
  margin: 5px 0;
  color: #00f5ff;
}
