/* EpisodeCard.css */
.episode-details {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 100%;
  background-color: #141414; /* Fondo oscuro */
  color: #0ff; /* Texto en color cian */
}

.episode-info-container {
  margin-bottom: 20px;
}

.episode-info h3 {
  margin: 10px 0;
  color: #0ff; /* Título en color cian */
}

.episode-info p {
  margin: 5px 0;
  color: #0ff; /* Texto en color cian */
}

.character-list-container {
  margin-top: 20px;
}

.character-list-title-container p {
  color: #0ff; /* Título de la lista de personajes en color cian */
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
