.location-details {
  color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
}

.location-info-container {
  background: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-info {
  text-align: left;
}

.character-list-container {
  margin-top: 20px;
}

.character-list-title-container {
  background: #2c3e50;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-list-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
