/* LocationCard.css */
.location-details {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 100%;
  background-color: #141414; /* Asegúrate de que el fondo sea oscuro si el texto es claro */
  color: #0ff; /* Cambia este valor para el color del texto */
}

.location-info-container {
  margin-bottom: 20px;
}

.location-info h3 {
  margin: 10px 0;
}

.location-info p {
  margin: 5px 0;
}

.resident-list-container {
  margin-top: 20px;
}

.resident-list-title-container p {
  color: #0ff; /* Cambia este valor para el color del título de la lista de residentes */
}

.resident-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
